<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ホーム</title>
</head>
<body>
    <h1>メモ一覧</h1>
    <a href="{{ url_for('add_memo') }}">メモを追加</a>
    <ul>
        {% for memo in memos %}
            <li>
                <a href="{{ url_for('show_memo', memo_id=memo[0]) }}">{{ memo[1] }}</a>
                <a href="{{ url_for('delete_memo', memo_id=memo[0]) }}">[Delete]</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>

