<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>内容</title>
</head>
<body>
    
    <h2>{{ memo[1] }}</h2>
    <p>{{ memo[2]|replace('\n', '<br>')|safe }}</p>
    
    <audio controls>
        <source src="{{ url_for('static', filename='output.mp3') }}" type="audio/mpeg">
        Your browser does not support the audio tag.
    </audio>

    <a href="{{ url_for('show_memos') }}">戻る</a>
</body>
</html>
